<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, minimum-scale=1.0">
    <title>Home - RosyRelaxation Admin</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body class="background-color">
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg" style="background-color: #FFC8C8">
        <a class="navbar-brand" th:href="@{/}">
            <img th:src="@{/images/logo.png}" alt="logo picture" style="width: 50px"/>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="topNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/users}">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/categories}">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/brands}">Brands</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/products}">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/customers}">Customers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/shipping}">Shipping</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/orders}">Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/reports}">Reports</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/articles}">Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/menus}">Menus</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/settings}">Settings</a>
                </li>
            </ul>
        </div>
    </nav>
    <div>
        <h2>Manage Users</h2>
        <a th:href="@{/users/new}">Create New User</a>
    </div>
    <div th:if="${message != null}"
         th:class="${messageType == 'success'} ? 'alert alert-success text-center success-message' : 'alert alert-success text-center error-message' ">
        [[${message}]]
    </div>
    <div>
        <table class="table table-bordered table-striped table-hover table-responsive shadow p-3 rounded">
            <thead class="table-header table-danger">
            <tr>
                <th>User ID</th>
                <th>Photos</th>
                <th>E-mail</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Roles</th>
                <th>Enabled</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${listUsers}">
                <td>[[${user.id}]]</td>
                <td><span class="fa-solid fa-image-portrait fa-3x icon-dark"></span></td>
                <td>[[${user.email}]]</td>
                <td>[[${user.firstName}]]</td>
                <td>[[${user.lastName}]]</td>
                <td>[[${user.roles}]]</td>
                <td>
                    <a href="" class="fa-solid fa-circle-check fa-2x icon-green" th:if="${user.enabled == true}"
                       style="text-decoration: none"></a>
                    <a href="" class="fa-solid fa-circle-xmark fa-2x icon-red" th:if="${user.enabled == false}"
                       style="text-decoration: none"></a>
                </td>
                <td>
                    <a class="fa-solid fa-pen-to-square icon-green fa-xl" th:href="@{'/users/edit/' + ${user.id}}"
                       title="Edit this user" style="text-decoration: none"></a>
                    &nbsp;
                    <a class="fa-solid fa-trash-can icon-red fa-xl" style="text-decoration: none"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <p>RosyRelaxation Control Panel - Copyright &copy; RosyRelaxation</p>
    </div>
</div>

</body>
</html>